<<<<<<< HEAD
@import url(./shared/globalStyles.css);
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
>>>>>>> 5ada5bd818e25783aa84f95989bd1ce2141ddeed

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: white;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}